application:
id: c7a180e0-6a43-457d-95a8-97d907f4228b
name: Terminal
listener:
    socket:
    address: any_ip4
    port: 48084
server:
    address: localhost
    port: 41014
    #width_calling: 5
logger: 
    continue: true
    level: info
    file_win: C:/User/SnifflyFox/PprotoTask/logs/Terminal.log
    conf_win: C:/User/SnifflyFox/PprotoTask/config/Terminal.logger.config
    filters:
        - name: defualt
          type: module_name
          mode: exclude
          modules: [
            Application
          ]