---
### YAML syntax ###

filters:
  - name: apld
    type: module_name
    mode: include
    modules: [
        ApplicationDebug
    ]
  - name: jopa
    type: module_name
    mode: include
    modules: [
        Jopaplication
    ]
savers:

  - name: applicationdebug
    active: true
    level: debug
    max_line_size: -1
    filters: [apld]
    file_win: C:/User/SnifflyFox/PprotoTask/logs/Terminal.log.appldebug
    continue: false
  - name: jopaplication
    active: true
    level: info
    max_line_size: -1
    filters: [jopa]
    file_win: C:/User/SnifflyFox/PprotoTask/logs/Terminal.log.jopa
    continue: false
...